.App{
  display: flex;
  justify-content: center;
  align-items: center;

  .Body-right{
    /* display: flex;
    flex-direction: column; */
      .hello{
      font-family:worksans-semibold,'work sans',sans-serif;
      font-size: 80px;
      font-weight: 800;
    }
    .content{

    }
  }
  
}